body{
    background-color: white;
    background-image: url(./j.jpg);
    position: relative;
    height: 200vh;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0px;
    /* background-color: blueviolet; */

}

#left{
    background-color: teal;
    border-radius: 35px;
    display: flex;
    align-items: center;
    color: black;
    height: 2srem;
    margin: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    gap: 20px;
    border: solid black;
    
    
    
}
#center{
    display: flex;
    align-items: center;
    background-color: teal;
    border-radius: 35px;
    color: black;

    margin: 3rem;
    gap: 20px;
    border: solid black;
    padding: auto;
    

    
}
#right{
    /* color: white;
    background-color: teal;
    border-radius: 35px;
    height: 3rem;
    margin: 3rem;
    padding: 1.5rem 3rem 0rem 2rem; */
    gap: 20px;
    display: flex;
}
#one{
    border-radius: 35px;
    background-color: teal;
    color: black;
    height: 2srem;
    margin: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border: solid black;
}
#two{
    border-radius: 35px;
    background-color: teal;
    color: black;
    height: 2srem;
    margin: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    border: solid black;
}
#logos{
    display: block;
    gap: 100px;
    margin-top: 10rem;
}
.lorem{
    background-color: aqua;

}

main{
    margin-top: 10rem;
    padding: 0;
}